<article class="panel is-primary">
  <p class="panel-heading">
    Projects
  </p>


  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-primary" type="text" placeholder="Search">
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>

  <% if !@project_list.blank? %>
    <% for project in @project_list %>

      <a class="panel-block is-active" href=<%= "?project=#{project.projectId}" %> >
        <span class="panel-icon">
            <ion-icon name="briefcase"></ion-icon>
        </span>

            <%=  project.name %>
            <% unless project.isPrivate %>
                <span class="tag is-primary is-light is-rounded ml-1">Shared</span>
            <% end %>
           
      </a>
      
    <% end %>
  <% end %>



    <div class="panel-block is-flex-direction-column">
      <button id="project_settings_bt" class="button is-light is-fullwidth mb-1">
        Join a Project
      </button>
      <button id="new_prject_bt" class="button is-primary is-fullwidth mt-1">
        New Project
      </button>
    </div>
  </article>
  <%= render 'index/panel_modal'%>
