<div class="tabs is-centered is-toggle ">
  <ul>
    <li class="is-active">
      <a>
      <span class="icon is-small">
        <ion-icon name="beaker"></ion-icon>
        </span>
        <span>Test Cases</span>
      </a>
    </li>
    <li>
      <a>
      <span class="icon is-small">
        <ion-icon name="document"></ion-icon>
        </span>
        <span>Test Plan</span>
      </a>
    </li>
    <li>
      <a>
      <span class="icon is-small">
        <ion-icon name="construct"></ion-icon>
        </span>
        <span>Test Execution</span>
      </a>
    </li>
  </ul>
</div>
