<div class="box">
  <table class="table table-test-cases is-fullwidth">
    <thead>
      <tr>
        <th><abbr title="Test Id">Id</abbr></th>
        <th><abbr title="Test name">Test</abbr></th>
        <th><abbr title="Number of steps in the test">Steps</abbr></th>
        <th><abbr title="The Test Creation date ">Created on</abbr></th>
        <th><abbr title="Test Tag">Tag</abbr></th>
        <th><abbr title="Test Last Run Status">Status</abbr></th>
      </tr>
    </thead>
    <tbody>

      <% if !@test_cases.blank? %>
        <% for tests in @test_cases %>
          <tr>

            <th><%= tests.id %> </th>
            <td><%= tests.name %></td>
            <td>UPDATE</td>
            <td> <%= tests.created_at %></td>
            <td><%= tests.tag %></td>

            <% case tests.status
                 when nil %>
            <td>
              <span class="tag is-warning" title="">
                <ion-icon name="remove-circle-outline" ></ion-icon>
              </span>
            </td>

            <% when 'passed' %>
            <td>
              <span class="tag is-primary" title="Passed">
                <ion-icon name="checkmark-done"></ion-icon>
              </span>
            </td>

            <% when 'failed' %>
            <td>
              <span class="test-status-failed tag is-danger">
                <ion-icon name="close-outline"></ion-icon>
              </span>
            </td>

          <% else %>
            <td>
              <span class="tag is-warning" title="">
                <ion-icon name="remove-circle-outline" ></ion-icon>
              </span>
            </td>
          <% end %>

        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
