<div class="box">
  <table class="table table-test-cases is-fullwidth">
    <thead>
      <tr>
        <th><abbr title="Test Id">Id</abbr></th>
        <th><abbr title="Test name">Test</abbr></th>
        <th><abbr title="Number of steps in the test">Steps</abbr></th>
        <th><abbr title="The Test Creation date ">Created on</abbr></th>
        <th><abbr title="Test Description">Description</abbr></th>
        <th><abbr title="Test Last Run Status">Status</abbr></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>38</td>
        <td>9</td>
        <td>10</td>
        <td>19</td>
        <td>
          <span class="tag is-primary" title="Passed">
             <ion-icon name="checkmark-done"></ion-icon>
          </span>
        </td>
      </tr>
      <tr>
        <th>1</th>
        <td>38</td>
        <td>9</td>
        <td>7</td>
        <td>22</td>
        <td>
          <span class="tag is-warning" title="">
            <ion-icon name="remove-circle-outline" ></ion-icon>
          </span>
        </td>
      </tr>
      <tr>
        <th>1</th>
        <td>38</td>
        <td>3</td>
        <td>8</td>
        <td>27</td>
        <td>
          <span class="test-status-failed tag is-danger">
            <ion-icon name="close-outline"></ion-icon>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
