<div class="tile is-ancestor p-2 pt-6 pb-6s">

  <div class="tile is-3 is-vertical is-parent">
    <%= render 'index/panel' %>
  </div>

  <div class="tile is-vertical is-fullwidth is-parent">
    <div class="tile is-child top-tabs" >
      <%= render 'index/tabs'%>
    </div>

    <div class="tile is-child">
      <%= render 'index/test_cases'%>
    </div>

    <div class="tile is-child">
      <%= render 'index/home_pagination'%>
    </div>
  </div>
</div>
