/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body {
  height: 100vh;
  width: 100%;
}

.tabs ul,
.tabs ul li a {
  border: none !important;
}

.top-tabs {
  flex-grow: 0 !important;
}

.tabs.is-toggle li.is-active a {
  color: #ffff !important;
  background-color: hsl(171, 100%, 41%) !important;
  border: none;
}

.table-test-cases tbody tr:hover {
  background-color: hsl(0, 0%, 96%);
  cursor: pointer;
}

td span ion-icon {
  font-size: 1.1rem;
}

ion-icon {
  pointer-events: none;
}

.pagination .is-current{
  background-color:hsl(171, 100%, 41%) !important;
  border: hsl(171, 100%, 41%) !important;
}


@import url("./header.css");
@import url("./userAuthScreen.css");
@import url("./actiontext.css");
