.login{
    width: 30rem;
    padding: 2rem;
    margin-top: 3rem;
}

.auth-notification{
    width: 30rem;
    margin: auto;
    margin-top: 1.3rem;
}

@media(max-width: 500px) {
    .login {
      box-shadow: none !important;
      padding: 0rem;
      width: 100%;
    }
  }