<table class="table table-test-cases is-fullwidth">
  <thead>
    <tr>
      <th><abbr title="Step ID">#</abbr></th>
      <th><abbr title="Action">Action</abbr></th>
      <th><abbr title="Data">Data</abbr></th>
      <th><abbr title="Result">Result</abbr></th>
      <th><abbr title=""> </abbr></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><abbr title="#">#</abbr></th>
      <th>
        <input class="input input-test-step-action" type="text" placeholder="Action">
      </th>
      <th>
        <input class="input input-test-step-data" type="text" placeholder="Data">
      </th>
      <th>
        <input class="input input-test-step-result" type="text" placeholder="Result">
      </th>
      <th>
        <button type="button" class="button is-primary bt-test-step-add">
          <span class="icon is-small">
            <ion-icon name="add" size="large"></ion-icon>
          </span>
        </button>
      </th>
    </tr>
  </tfoot>
  <tbody class='tb-test-steps'>
  </tbody>
</table>
